.portfolio {
  display: flex;
  justify-content: center;
  gap: 5rem;

  padding: 4rem;
}

section {
  flex-basis: 40%;

  display: flex;
  flex-direction: column;
  gap: 5rem;
}

h6 {
  color: blue;
}

.portfolio__title {
  line-height: 0.9;
  font-size: 4rem;
  font-weight: 900;
}

.portfolio__para {
  margin-top: 2rem;
}

.portfolio__title span,
.portfolio__para span {
  display: block;
}

.portfolio__product-image {
  height: 40rem;
  margin-bottom: 2rem;
}

.portfolio__product-image img {
  border-radius: 1rem;
}

.portfolio__content,
.portfolio__product {
  display: flex;
  flex-direction: column;
}
