body {
  display: flex;
  justify-content: center;
}

.product {
  display: flex;
  padding: 4rem;
  gap: 2rem;
  max-width: 1400px;
}

.product__images,
.product__info {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  flex: 1;
}

.product__images--main img,
.product__images--additionals img {
  object-fit: cover;
  border-radius: 0.5rem;
  width: 100%;
}

.product__images--main img {
  max-height: 60vh;
}

.product__images--additionals {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
}

.product__images--additionals > div {
  flex: 1;
}

.product__ratings {
  display: flex;
  gap: 2rem;

  color: lightgray;
}

.product__ratings i {
  color: orange;
}

.product__info > div:not(.product__details) {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.product__info > div > div:not(.selection__sizes, .selection__colors) {
  display: flex;
  justify-content: space-between;
  font-weight: bold;
}

.product__quantity,
.product__price {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.product__quantity > div {
  display: flex;
  align-items: center;
  border: 1px solid lightgray;
  border-radius: 0.5rem;

  position: relative;
}

.less,
.more {
  position: absolute;
}

.less {
  left: 1rem;
}

.more {
  right: 1rem;
}

.product__quantity > div input {
  border: none;
  align-self: start;
  width: 7rem;
  text-align: center;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}

input[type="submit"] {
  color: white;
  background-color: blue;
  border: none;
}

.product__quantity > div i {
  font-size: 1rem;
  font-weight: bold;
}

.product__details {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.product__details > div {
  padding-bottom: 1rem;
  border-bottom: 1px solid lightgray;
}

.selection__sizes {
  display: flex;
  position: relative;
  gap: 2rem;
}

.selection__sizes > div input[type="radio"] {
  visibility: hidden;
  position: absolute;
}

.selection__sizes > div label {
  border: 1px solid lightgrey;
  padding: 1rem 2rem;
  border-radius: 0.5rem;
}

.selection__sizes > div label {
  border: 1px solid lightgrey;
  padding: 1rem 2rem;
  border-radius: 0.5rem;
}

.selection__sizes > div input:focus + label,
.selection__sizes > div input:active + label,
.selection__sizes > div input:checked + label {
  border: 1px solid blue;
}

.selection__colors {
  display: flex;
  gap: 2rem;
}
.colors__color {
  height: 5rem;
  width: 5rem;
  border-radius: 0.5rem;
}
.colors__color--white {
  background-color: whitesmoke;
}

.colors__color--navy {
  background-color: navy;
}

.colors__color--blue {
  background-color: blue;
}

.colors__color--pink {
  background-color: pink;
}
