.sign-up {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 2rem;

  padding: 4rem;
}

.sign-up__content {
  display: grid;
  grid-template-rows: repeat(3, min-content);
  gap: 2rem;
}

.content__para span {
  display: block;
}

.content__form {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(6, min-content);
  align-items: center;
  gap: 2.5rem;
}

.form__title {
  grid-column: 1 / -1;
  grid-row: 1 / 2;
  justify-self: start;

  color: blue;
  position: relative;
}

.form__title::after {
  content: "";
  position: absolute;
  top: 50%;
  right: -7rem;
  height: 2px;
  width: 5rem;
  background-color: blue;
}

.form__alternative {
  grid-column: 1 / -1;
  grid-row: 2 / 3;

  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 2rem;
}

a {
  padding: 0;
}

.form__alternative a {
  border: 1px solid lightgrey;
  text-align: center;
  color: white;
}

.form__alternative a:first-child {
  background-color: orange;
}

.form__alternative a:last-child {
  background-color: blue;
}

.form__alternative a i {
  margin-right: 1rem;
}

.form__name {
  grid-column: 1 / 2;
  grid-row: 3 / 4;
}

.form__name,
.form__email,
.form__password {
  display: grid;
  grid-template-rows: repeat(2, min-content);
  gap: 0.5rem;
}

.form__name input,
.form__email input,
.form__password input {
  background-color: rgb(237, 251, 255);
  border: none;
}

.form__password {
  grid-column: 1 / -1;
  grid-row: 4 / 5;
}

.form__terms {
  grid-column: 1 / -1;
  grid-row: 5 / 6;

  justify-self: start;
}

.form__terms input {
  margin-right: 1rem;
}

.form__submit {
  background-color: lightslategray;
  color: white !important;
}
