body {
  display: flex;
  gap: 4rem;
  margin: 1rem 2rem;
}

.checkout,
.checkout__billing,
.order {
  display: flex;
  flex-direction: column;
}

.checkout {
  flex-basis: 60%;
  row-gap: 1rem;
}

.checkout__title {
  line-height: 6rem;
}

.checkout__billing {
  row-gap: 2rem;
}

.checkout__billing-inputs-container {
  display: flex;
  justify-content: space-between;
  column-gap: 1rem;
}

.checkout__billing-input {
  flex-basis: 50%;
}

.checkout__billing-input--city {
  flex-grow: 1;
}

.checkout__billing-textarea {
  resize: none;
}

.checkout__billing-checkbox-container {
  display: flex;
  align-items: center;
  column-gap: 1rem;
}

.checkout__billing--apply-code-btn {
  height: 100%;
  padding: 0 2.5rem;
  background-color: #333;
  color: white;
  border: none;
  border-radius: 0.5rem;
}

.order {
  flex-basis: 40%;
  row-gap: 2rem;
}

.order__products-container,
.order__payment-container {
  border: solid 1px lightgrey;
  border-radius: 1rem;
}

.order__products-container {
  display: flex;
  flex-direction: column;
}

.order__products-container-headers,
.order__payment-container-header {
  display: flex;
  justify-content: space-between;
  padding: 1rem;
  background-color: lightgray;
  border-radius: 1rem 1rem 0 0;
}

.order__product {
  display: flex;
  flex-wrap: wrap;
  column-gap: 2rem;
  padding: 2rem;
  border-bottom: 1px solid lightgrey;
}

.order__product-img {
  border-radius: 50%;
  width: 10rem;
  height: 10rem;
}

.order__product-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex-grow: 1;
}

.order__product-details {
  display: flex;
  align-content: center;
}

.order__product-color,
.order__product-size,
.order__product-quantity {
  flex-basis: 30%;
  color: grey;
}

.order__product-price {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
}

.order__subtotal-container,
.order__shipping-container,
.order__discount-container,
.order__total-container {
  display: flex;
  justify-content: space-between;
  padding: 1rem 2rem;
  font-weight: bold;
}

.order__total-container {
  padding-top: 3rem;
  border-top: 1px solid lightgrey;
}

.order__payment-container {
  display: flex;
  flex-direction: column;
  row-gap: 2rem;
  padding-bottom: 2rem;
}

.order__radio-container {
  display: flex;
  column-gap: 1rem;
  padding: 0 2rem;
}

.order__place-order-btn {
  border: none;
  border-radius: 0.5rem;
  color: white;
  background-color: rgb(0, 149, 255);
  padding: 2rem 0;
}
