.reviews {
  display: flex;
  flex-direction: column;
  gap: 2rem;

  padding: 3rem 2rem;
}

.reviews > div {
  display: flex;
  flex-direction: column;

  border: 1px solid lightgray;
  border-radius: 0.5rem;
}

.review__reviewer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 2rem;

  margin: 2rem;
  padding-bottom: 2rem;
  border-bottom: 1px solid lightgray;
}

.review__reviewer:last-child {
  padding-bottom: 0;
  border: none;
}

.review__reviewer-info {
  /* background-color: rgba(255, 0, 0, 0.4); */
  display: flex;
  align-items: center;
  flex-basis: 35%;
  gap: 1.5rem;
}

.review__reviewer-img img {
  height: 10rem;
  width: 10rem;
  border-radius: 5rem;
  object-fit: cover;
  object-position: top;
}

.review__reviewer-details {
  display: flex;
  flex-direction: column;
  line-height: 1.25;
}

.review__rating {
  /* background-color: rgba(0, 255, 0, 0.4); */

  display: flex;
  align-items: center;
  flex-basis: 25%;
  gap: 1rem;
}

i.fa-star,
i.fa-star-half-stroke {
  color: gold;
}

.review__feedback {
  /* background-color: rgba(0, 0, 255, 0.4); */

  display: flex;
  flex-direction: column;
}
