.header {
  display: flex;
  gap: 2rem;

  padding: 4rem;
  height: 100vh;

  position: relative;
}

.header__hero img {
  object-fit: cover;
  object-position: bottom;
}

.header__content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  row-gap: 2rem;
}

.header__content > div {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.header__title {
  line-height: 0.85;
  color: #fb5794;
}

button:hover {
  cursor: pointer;
}

.header__link {
  align-self: flex-start;
  background-color: #fb5794;
  color: white;
}

.header__content > div:last-child {
  position: absolute;
  bottom: 4rem;
  right: 10rem;
  gap: 0;

  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}

.header__content > div:last-child > button {
  background-color: white;
  border: 1px solid #fb5794;
  color: #fb5794;
  padding: 1rem;
}
